/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* general settings */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Inter";
}
:root {
  --main-gradient: linear-gradient(
    to right,
    #010b58b5 0%,
    #192aac90 35%,
    #2d3ba98a 68%,
    #010b587c 100%
  );
}

body {
  z-index: -100;
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  height: 20px;
  background-color: #0f205a;
}

::-webkit-scrollbar-track {
  background-color: black;
}

/* loading */

.loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #081335;
  z-index: 100000000000000000000000000000000000000000000;
}

.loader {
  font-size: 40px;
  font-family: "Marcellus";
  z-index: 100000000000000000000000000000000000000000000;
}

/* navbar */

nav {
  width: 100%;
  height: 75px;
  transition: width 1s ease-in-out 1s, height 0.5s ease-in-out 0.5s;
  background: var(--main-gradient);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

.logo {
  width: 220px;
  position: relative;
  transform: translateX(30px);
}

.span {
  font-family: "Dancing Script";
  font-size: 30px;
  position: absolute;
  left: 95px;
}

li {
  list-style: none;
}

.nav-items {
  display: flex;
}

.nav-items li {
  font-size: 25px;
  margin-right: 60px;
  cursor: pointer;
  transition: padding 0.2s ease-out;
}

.nav-items li:hover {
  border-bottom: white 2px solid;
  padding: 10px;
}

/* sections setting */
section {
  height: 100vh;
  width: 100%;
}

/* Hero section */
.hero {
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-bg {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  height: 100%;
}

.hero-container {
  transform: translate(-2%, 100px);
  width: 90%;
  height: 165px;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  gap: 45px;
  position: relative;
}

.my-name {
  font-size: 64px;
  font-family: "Marcellus";
  display: flex;
  justify-content: start;
  align-items: center;
  background: linear-gradient(
    to right,
    #72cdfc 10%,
    #2595ab 40%,
    #2a7f2c 65%,
    #48b807 90%
  );
  background-clip: text;
  color: transparent;
}

.my-job {
  font-size: 35px;
  font-family: "Marcellus";
  font-weight: 400;
  display: flex;
  justify-content: start;
  align-items: center;
}

.auto-type {
  display: flex;
  justify-content: start;
  align-items: center;
  left: 0;
  font-size: 35px;
  font-family: "Cinzel";
}

.q-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 40px;
  font-family: "Cinzel";
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to right, #72cdfc 20%, #09a39c 35%, #67b91c 70%);
  background-clip: text;
  opacity: 0.2;
}

.auto-type span {
  visibility: hidden;
  display: inline-block;
  color: #72cdfc;
  font-family: "Marcellus";
}

/* about section */
.about {
  position: relative;
}

.about-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 90%;
  z-index: -1000000;
}

.what-i-do {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: absolute;
  top: 50px;
}

.line1,
.line2 {
  height: 3px;
  background-color: #6ab7ff;
}

.line1 {
  transform: translateY(7px);
  width: 7.85%;
  opacity: 0;
}

.line2 {
  width: 0%;
  transform: translateX(8.5%);
  opacity: 0;
}

.wh-text {
  font-size: 60px;
  font-family: "Cinzel";
  transform: translate(-100%, 8px);
}

.a-box {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ps {
  width: 50%;
  transform: translateY(30px);
}

.line {
  font-family: "Cinzel";
  font-size: 42px;
  opacity: 0;
}

.gif-box {
  width: 360px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(20px);
  overflow: hidden;
}

.wrapper-about {
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: 100%;
  scale: 2;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}

.p-animation {
  font-family: "Inter";
  font-size: 25px;
  opacity: 68%;
}

.nav-box {
  width: 670px;
  height: 41px;
  border-radius: 30px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in-out 0.5s, height 0.5s ease-in-out 0.5s;
}

/* Projects Section */
.projects {
  position: relative;
}

.projects-bg {
  height: 100%;
  width: 100%;
  position: sticky;
  object-fit: cover;
}

.projects h1 {
  font-family: "Marcellus";
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.projects-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  height: 65%;
  position: absolute;
  top: 20%;
}

.p-parent {
  border-radius: 30px;
  width: 25%;
  height: 100%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project1,
.project3 {
  opacity: 0;
}

.project2 {
  opacity: 0;
}

.p-parent div {
  width: 100%;
  height: 50%;
  z-index: 10;
}

.p-parent .text {
  background-color: #d9d9d9d9;
  font-size: 70%;
  font-family: "Marcellus";
  padding: 10px;
  color: black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.p-parent .img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.8;
  transition: opacity 1s ease-in-out;
}

.img img {
  width: 150%;
  height: 120%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  transform: translateY(10px);
}
.img:hover {
  overflow: visible;
  opacity: 1;
}
svg {
  width: 70px;
  height: 70px;
  transform: translateY(-20px);
  position: absolute;
  bottom: -10px;
  left: calc(50% - 40px);
  cursor: pointer;
}

/* contact section */

.contact {
  position: relative;
}
.contact-bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  top: 0;
}
.c-heading {
  font-size: 64px;
  font-family: "Marcellus";
  font-weight: 400;
  width: 100%;
  text-align: center;
  transform: translateY(25%);
}
.c-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85.5%;
  margin-top: 1%;
}
form {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10%;
  flex-direction: column;
  width: 442px;
  height: 400px;
  margin: 20px;
}
form input,
textarea {
  width: 350px;
  height: 44px;
  opacity: 80%;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 27px;
  font-family: "Inter";
  color: black;
  padding: 10px;
}
#message {
  width: 100%;
  height: 200px;
  resize: none;
}
.submit {
  width: 150px;
  height: 50px;
  opacity: 80%;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 27px;
  font-family: "Inter";
  color: black;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}
form input:hover,
textarea:hover,
.submit:hover {
  background-color: #f0f0f0;
}
.glass {
  background-color: #3f35ac7c;
  backdrop-filter: blur(10px);
  width: 530px;
  height: 500px;
  z-index: 100;
  border-radius: 40px;
  display: flex;
  justify-self: center;
  align-items: center;
  box-shadow: #6862af7c 8px 8px 8px;
  transform: translateX(15%);
}
.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 550px;
  transform: translateX(40%);
}
.divider {
  width: 3px;
  height: 50%;
  border-radius: 50px;
  background-color: white;
}
.separator p {
  font-family: "Marcellus";
  font-size: 55px;
  text-transform: uppercase;
}
.sec-half {
  width: 550px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: translateX(-10%);
}
.whatsapp-contact {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.whatsapp-contact h1 {
  font-family: "Cinzel";
  font-size: 42px;
  font-weight: 400;
}
.whatsapp-contact a {
  font-family: "Cinzel";
  font-size: 42px;
  font-weight: 400;
  text-decoration: underline;
  width: 100%;
  text-align: center;
}
.basic-contact {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.email-box {
  position: absolute;
  bottom: 35%;
  right: 1%;
  background-color: #22333f;
  border-radius: 35px;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 95%;
}
.email {
  font-family: "Inter";
  font-size: 32px;
}
.number-box {
  position: absolute;
  bottom: 10%;
  right: 1%;
  background-color: #22333f;
  border-radius: 35px;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 50%;
}
.number {
  font-family: "Inter";
  font-size: 32px;
}
.number-box img {
  height: 40px;
}



/* footer */

footer{
  height: 335px;
  width: 100%;
  position: relative;
  background-color: #22333F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
footer p{
  font-family: system-ui;
  font-size: 24px;
  font-weight:lighter;
  width: 85%;
    height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
}
.f-divider{
  width: 85%;
  height: .1px;
  background-color: #fff;
  border-radius: 10px;
}
.social-box{
  width:35.46%;
  transform: translateY(50px);
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 10px;
}
.social-box a{
  background-color: white;
  border-radius: 50%;
  width: 65px;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.social-box svg{
  width: 40px;
  height: 40px;
  transform: translateY(0);
  position: inherit;
  bottom: inherit;
  left: inherit;
  cursor: pointer;
}
a.git{
  background-color: #9F9F9F;
}
a.git:hover{
  background-color: #cecece;
  transition: all .5s cubic-bezier(.34, 1.56, .64, 1) ;
}
.git svg{
  fill:#181717;
}
a.face{
  background-color: #0050D3;
}
.face svg{
  fill: #0866FF;
}
a.face:hover{
  background-color: #4d83da;
  transition: all .5s cubic-bezier(.34, 1.56, .64, 1) ;
}
a.insta{
  background-color: #C80052;
}
a.insta svg{
  fill :#FF0069
}
a.insta:hover{
  background-color: #d14c83;
  transition: all .5s cubic-bezier(.34, 1.56, .64, 1) ;
}
a.you{
  background-color: #e02323;
}
a.you svg{
  fill: red;
}
a.you:hover{
  background-color: #ff0000ce;
  transition: all .5s cubic-bezier(.34, 1.56, .64, 1) ;
}
a.x{
  background-color: #6A6A6A;
}
a.x:hover{
  background-color: #b3b3b3;
  transition: all .5s cubic-bezier(.34, 1.56, .64, 1) ;
}
a.x svg{
  fill: black;
}